.keypad{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-auto-rows: minmax(60px,auto);
    z-index: 10;
    margin: 5px;
  }
  
  .keypad .clear{
    grid-column: 1 / span 2;
  }
  
  .keypad .equals{
    grid-column: 3 / span 2;
    grid-row: 5;
  }
  
  .keypad button{
    margin: 5px;
    background-color: #3EDBF0;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    font-size: calc(1vw + 18px);
    outline: none;
    -webkit-tap-highlight-color: transparent;
    /* border: none; */
  }

  .keypad button:active{
    background-color: #008496;
  }
  
  .keypad .orange{
    background-color: #F76400;
    border: #F76400;
  }

  .keypad .orange:active{
    background-color: #c94000;
  }

  @media only screen and (max-width : 600px){
    .keypad{
      font-size: 10px;
      grid-template-columns: repeat(4,60px);
      grid-auto-rows: minmax(50px,auto);
    }
  }